
<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">ShareIn</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
      <li><a href="/users/profiles/{{currentUser}}"> My Board </a></li>
      <li><a href="/users/logout">Logout</a></li>
	 </ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/users/profiles/{{currentUser}}"> Your Board </a></li>
			<li><a href="/users/logout">Logout</a></li>
		</ul>
	</div>
</nav>
<div class="main-cntrl">
  <h4 class="main-board"> Welcome to Event Board </h4>
<ul>
   <li>
       <a alt="plan new event" href="#modal1">
         <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
       </a>
  </li>
   <li>
     <a alt="view all events" href="/event-board">
         <i class="fa fa-calendar" aria-hidden="true"></i>
     </a>
   </li>
   <li>
     <a alt="view all events" href="/users/profiles/{{currentUser}}">
         <i class="fa fa-smile-o" aria-hidden="true"></i>
     </a>
   </li>
</ul>
</div>
<div class="container2">
  <div>
   <h3>{{event.name}} <h3>
   <h5>{{event.organizer_name}}
  </div>
  <div>
    <p>{{event.disc}}</p>
    <p> on {{formatDate}}</p>
    <p> at {{event.begin}} to {{event.end}} </p>
  </div>
</div>

<!-- create Modal -->
<div id="modal1" class="modal modal-fixed-footer">
 <form method="post" action="/events">
  <div class="modal-content">
    <h4>Create New Event</h4>
      <div class="input-field col s6">
         <input  id="first_name" name="name" type="text" class="validate">
         <label for="first_name">Event name</label>
       </div>
       <div class="input-field col s6">
         <!-- <label for="first_name">Event date</label> -->
         <input  id="first_name" name="date" type="date" class="validate">
       </div>
       <div class="input-field col s6">
         <input  id="first_name" name="begin" type="number" min="0" max="23" class="validate">
         <label for="first_name">Starts at:</label>
       </div>
       <div class="input-field col s6">
         <input  id="first_name" name="end" type="number" min="0" max="24" class="validate">
         <label for="first_name">Ends at:</label>
       </div>
      <div class="input-field col s12">
           <textarea id="textarea1" name="disc" class="materialize-textarea" length="250"></textarea>
           <label for="textarea1">Discription:</label>
         </div>
    </div>
    <div class="modal-footer">
      <button type="submit"  class="modal-action modal-close waves-effect waves-green btn-flat ">Create</button>
    </div>
</form>
</div>
