<a href="/event-board"> Go back to event board </a>
<h3> Hi {{user.name}}! </h3>

<h4> Your Events </h4>
{{#unless events.length}}
  You haven't plan any events yet...
 {{/unless}}
 {{#if events.length}}
  <div class="row">
    {{#each events}}
       <div class="col s12 m3">
         <div class="card grey">
           <h5>Event: {{this.name}}</h5>
           <p> About:{{this.disc}}</p>
           <div class="chip">
             {{this.organizer_name}}
             <a href='/events/{{this._id}}/edit'>Edit</a>
           </div>
         </div>
       </div>
    {{/each}}
   </div>
   {{/if}}

<h4> Your RSVPs </h4>
{{rsvp}}
